@CHARSET "ISO-8859-1";
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
#top_nav{
	top: 0;
  	position: fixed;
}
#menu_nav{
	top:20px;
}
.fixPosition{
	position:fixed;
}

.page-header{
	top:0px;
	z-index:1000;
	background-color: white;
	width: 100%;
	position:fixed;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.no-left-padding{
	padding-left: 0px;
}

.max-width{
	width:100%;
}

.btn-info {
	color: rgb(35, 161, 209);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #ffffff, #ffffff);
	background-repeat: repeat-x;
	border-color: rgb(35, 161, 209);
}

.btn-info:hover {
	color: rgb(35, 161, 209);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #ffffff, #ffffff);
	background-repeat: repeat-x;
	border-color: rgb(70, 161, 209);
}

.big-icon{
	font-size:32px;
}

.bar-icon{
	font-size:20px;
	color: rgb(35, 161, 209);
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #ffffff, #ffffff);
	background-repeat: repeat-x;
	border-color: rgb(35, 161, 209);
}

.nav-link{
	text-align:center;
}

.nav-link-text{
	font-size:18px;
	color: rgb(35, 161, 209);
}

@media screen and (min-width:992px){
	.nav-item{
		text-align:center;
		display:inline-block;
	}
	
	.dropdown-menu-center{
		left: -15vw;
	}
	
	.dropdown-item{
		display: inline-block;
		width: auto;
		padding-left : 5px;
		padding-right: 5px;
	}

	.dropdown-menu{
		width: auto;
		padding : 5px 70px;
		text-align:center;
		min-width: 40vw;
	}
	
	.dropdown-item > img{
		display:block;
		text-align:center;
		margin:0 auto;
		opacity:0.8;
		padding-bottom:5px;
		vertical-align:bottom;
	}
}
